body {color: white; background-color: black;}
body::selection {background: white;}




a{color: red;}
a:visited {color: gray;}
a:hover {color: gray;}
a:visited:hover {color: gray;}

.secret {color: black;}
.mainlink{font-size: 30px;}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 60%;
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


 
